{% extends "base.html" %}
{%block title%} Django Girls blog {%endblock%}
{% block content %}

<header>
    <h1 class="container-fluid p-5  text-white text-center"><a href="/" style="text-decoration: none;">Welcome to the Blog</a></h1>
</header>
{%for post in posts %}
    <article>
        <time>published: {{post.published_date}}</time> 
        <h2><a href="{{post.get_absolute_url}}" style="text-decoration: none;font-family: 'Lobster', cursive;">{{post.title}}</a></h2><hr>
        <p>{{post.text|truncatewords:20}}</p>
    </article>
{%endfor%}
{% endblock %}